vti_encoding:SR|utf8-nl
vti_author:SR|D8CZP631\\Mary Pfeiffer
vti_modifiedby:SR|D8CZP631\\Mary Pfeiffer
vti_timelastmodified:TR|12 Feb 2009 03:50:20 -0000
vti_timecreated:TR|07 Feb 2009 23:31:47 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|12 Feb 2009 03:39:37 -0000
vti_cacheddtm:TX|12 Feb 2009 03:50:20 -0000
vti_filesize:IR|5509
vti_cachedlinkinfo:VX|S|<{$voterturnout}> S|<{$userreg}>
vti_cachedsvcrellinks:VX|NSUS|Custom\\ Virtual\\ Designs/public_html/modules/xbasicgraphs/templates/<{$voterturnout}> NSUS|Custom\\ Virtual\\ Designs/public_html/modules/xbasicgraphs/templates/<{$userreg}>
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
